body {
    .welcomeSection {
        background: linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0.2) 31.12%);
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height:100vh;
        img {
            position: absolute;
            width: auto;
            height: 75vh;
            left: 99vh;
            top: 20vh;
        }
        .title{
            position: absolute;
            font-size: 9vh;
            color: #1F3F68;
            top: 17.5vh;
            left: 22vh;
            width: 90vh;
            letter-spacing: 0.04em;
        }
        .subtitle{
            position: absolute;
            font-size: 2.5vh;
            color: #1F3F68;
            opacity: 0.6;
            top: 52vh;
            left: 25vh;
            width: 70vh;
            letter-spacing: 0.05em;
        }
        .button-aboutUs {
            position: absolute;
            // Button
            width: 30vh;
            height: 7vh;
            top: 72vh;
            left: 44vh;
            background: #565AFF;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            border-radius: 6px;
            border: none;

            // Text
            font-size: 2.2vh;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
            &:active {
                background: red;
            }
        }
    }
}